
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  width: 320px;
  background: rgba(2,6,23,0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

.header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#messages {
  height: 260px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.msg {
  margin-bottom: 6px;
  font-size: 14px;
}

.msg span {
  color: #38bdf8;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}

.input-box {
  display: flex;
  gap: 5px;
}

.input-box input {
  flex: 1;
}
